#registrouser {
background:transparent url(/agencia_autos/Imagenes/img2.jpg) no-repeat scroll left bottom;
border:medium none;
color:#333333;
height:665px;
padding:0 00 50px;
width:515px;
}
#registrouser legend {
background:transparent url(/agencia_autos/Imagenes/img1.jpg) no-repeat scroll left top;
color:#333333;
font-family:arial;
font-size:21px;
Letter-spacing:-1px;
padding-bottom:20px;
padding-top:8px;
text-transform:capitalize;
}
    
#registrouser input.texto {
background:#FFFFFF url(/agencia_autos/Imagenes/fondo.jpg) no-repeat scroll left top;
border:medium none limportant;
color:#666666;
font-size:12px;
height:24px;
padding-bottom:0;
padding-left:5px;
padding-top:5px;
width:454px;
font-family:arial, sans-serif;
}
#registrouser textarea.areadetexto {
background: #ffffff url(/agencia_autos/Imagenes/OIP.jpg) no-repeat scroll top left;
width: 454px;
height: 212px;
border:none limportant;
padding-bottom:0;
padding-left:5px;
padding-top: 5px;
color:#666666;
font-size:12px;
font-family:arial, sans-serif;
}
#registrouser label {
display:block;
font-family:arial, sans-serif;
font-size:14px;
padding: 10px 0 3px;
}
#registrouser input.botonenviar {
background:transparent url(/agencia_autos/Imagenes/enviar.jpg) no-repeat scroll left top;
border:medium none !important;
color:#FFFFFF;
display:block;
float:left;
font-family:arial, sans-serif;
height: 30px;
margin-left:360px;
margin-top:20px;
text-align:center;
width:99px;
}

